<%- include layout/head %>
  <div class="container">
    <div class="text-center">
      <h1>Students Data</h1>
      <p>
        <a class="btn btn-primary" href="/students/add">+ Add student</a>
      </p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(student => { %>
          <tr>
            <td><%= student.id %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.full_name %></td>
            <td><%= student.email %></td>
            <td><a href="/students/<%= student.id %>/addsubject">Add Subject</a></td>
            <td><a href="/students/edit/<%= student.id %>">Edit</a> | <a href="#" onclick="confirmDelete(<%= student.id %>)">Delete</a>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

    <script type="text/javascript">
      function confirmDelete(id) {
        if (window.confirm('Delete this student?'))
          document.location.href = `students/delete/${id}`
      }
    </script>
<%- include layout/foot %>
