<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Edit Student Data</h1>
    <a href="/students">< Back</a>
    <p style="color:red"><%= err %></p>
    <form action="/students/edit/<%= data.id %>" method="post">
      <input type="text" name="first_name" placeholder="First Name" value="<%= data.first_name %>">
      <input type="text" name="last_name" placeholder="Last Name" value="<%= data.last_name %>">
      <input type="text" name="email" placeholder="Email" value="<%= data.email %>">
      <input type="submit" value="Edit Student">
    </form>
  </body>
</html>
