<%- include layout/head %>
  <div class="container">
    <div class="text-center">
      <h1>Subjects Data</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject Name</th>
          <th>Teacher</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(subject => { %>
          <tr>
            <td><%= subject.id %></td>
            <td><%= subject.subject_name %></td>
            <td>
              <ol>
                <% subject.teachers.forEach(teacher => { %>
                  <li><%= `${teacher.first_name} ${teacher.last_name}` %></li>
                <% }) %>
              </ol>
            </td>
            <td><a href="/subjects/<%= subject.id %>/enrolledstudents">Enrolled Students</a><td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
<%- include layout/foot %>
