<%- include layout/head %>
  <div class="container">
    <div class="text-center">
      <h1>Teachers Data</h1>
      <p>
        <a class="btn btn-primary" href="/teachers/add">+ Add teacher</a>
      </p>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subjects</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(teacher => { %>
          <tr>
            <td><%= teacher.id %></td>
            <td><%= teacher.first_name %></td>
            <td><%= teacher.last_name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.subject ? teacher.subject : 'unassigned' %></td>
            <td><a href="/teachers/edit/<%= teacher.id %>">Edit</a> | <a href="#" onclick="confirmDelete(<%= teacher.id %>)">Delete</a>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    function confirmDelete(id) {
      if (window.confirm('Delete this teacher?'))
        document.location.href = `teachers/delete/${id}`
    }
  </script>
<%- include layout/foot %>
