<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
  </head>
  <body>
    <h1>Teachers Data</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subjects</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(teacher => { %>
          <tr>
            <td><%= teacher.id %></td>
            <td><%= teacher.first_name %></td>
            <td><%= teacher.last_name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.subjects.length <= 0 ? 'unassigned' : 'test' %></td>
            <td><a href="/teachers/edit/<%= teacher.id %>">Edit</a> | <a href="#" onclick="confirmDelete(<%= teacher.id %>)">Delete</a>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <script type="text/javascript">
      function confirmDelete(id) {
        if (window.confirm('Delete this student?'))
          document.location.href = `teachers/delete/${id}`
      }
    </script>
  </body>
</html>
